//Esquema de colores

//primer esquema de colores
$white:#FFF;
$snow: #FAFAFA;
$quick-silver:#A0A0A0;

//segundo esquema de colores
$jelly-bean:#E56353;
$salmon:#E97f72;
$pastel-pink:#F0A9A1;

//tercer esquema de colores
$granite-gray:#686963;
$taupe-gray:#91918D;
$gray:#BABAB8;

//tipografia
$raleway: 'Raleway', sans-serif;

//pesos de fuentes

$extra-light: 200;
$regular: 400;
$bold: 700;

//Tamaños de fuentes
$xx-large:100px;
$x-large:70px;
$large: 50px;
$medium: 18px;
