
.parte__uno{
  padding: 18%;
  background-color: $jelly-bean;
}

.tomates__organicos{
background-color: $taupe-gray;
padding-bottom: 2rem;
}

.img__uno{
  padding-top: 5rem;
  padding-bottom: 1rem;
  width: 100%;
}

.seccion__nosotros {
  background-color: $jelly-bean;
}
